<% include partials/header.ejs%>
<div class="container">
<h1 class="text-center" style="color:white">How_to_play!</h1>
  <div class="well "style="background:rgb(230, 233, 239);">
         <p style="color:rgb(1, 92, 107);font-size:40px; ">
<h3>* Pick a squad comprising of your all time favourite 11 everyday </h3>
<h3>* Each player will be awarded 2 points for his presence in the field  </h3>
<h3>* Goal scorers will be awarded 5points for every goal he scores</h3>

<h3>* Goalie will be awarded 6 points in total if he maintains cleansheet</h3>
<h3>* This rule holds good for defenders too </h3>
<h3>* 2 Points will be deducted from both score if they concedes more than two goals</h3>
<h3>* Midfielders will be awarded additional 1 point for cleansheet </h3>
<h3>* Deadline for picking your squad ends by 4pm</h3>
<h3>* Scores would be updated by 8pm</h3>
<h3>* Choose your squad wisely and sledge your amigos</h3>
</p>
</div>


</div>


<% include partials/footer.ejs%>