 <% include partials/header.ejs %>
 <div class="container text-center" style="padding:0px ">
    <div class="jumbotron"style="background-color:transparent;padding-bottom:10px;color:white">
        
      <h1>Do I know you?!!</h1>
        
    </div>

 </div>
 
<div class="container" id="loginContainer" style="margin:0 auto; color:white">
   
    <form action="/login" method="POST" style="min-width:30%;">
 
 
 
 <div class="form-group  col-md-12 col-sm-12"style="padding-left:0; padding-right:0;">
    	 <label  for="username">User</label>
      <input type="text" name="username" class="form-control" placeholder="username" id="username">
    </div>
        
        <div class="form-group col-md-12 col-sm-12" style="padding-left:0; padding-right:0;">
    	 <label  for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" id="password">
    </div>
    <button type="submit" name="submit" class="btn btn-primary btn-block" style="margin-bottom:20px">Login</button> 
        
        
    </form>
    
    
    
    
    
    
    
</div>
<% include partials/footer.ejs %>